In [ ]:
import findspark
findspark.init()
import pyspark 
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SQLContext
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)
sqlContext = SQLContext(sc)

In [ ]:
#Load Parquet file into Postgres and deal with spaces in Open page rank column

In [2]:
file = "C:/ele/ranks_p.parquet"
df = spark.read.parquet(file)
for c in df.columns:
    df = df.withColumnRenamed(c, c.replace(" ", ""))

df = spark.read.schema(df.schema).parquet(file)

In [3]:
df.show(50)

+-----+--------------------+------------+-----------------+
| Rank|              Domain|OpenPageRank|__index_level_0__|
+-----+--------------------+------------+-----------------+
|45485|transportation.al...|        null|            45484|
|45486|       pastiebin.com|        null|            45485|
|45487|       joedolson.com|        null|            45486|
|45488|  enelgreenpower.com|        null|            45487|
|45489|      besacenter.org|        null|            45488|
|45490|    startupticker.ch|        null|            45489|
|45491|       elkodaily.com|        null|            45490|
|45492| careers.walmart.com|        null|            45491|
|45493|        longines.com|        null|            45492|
|45494|    mdguidelines.com|        null|            45493|
|45495|   theborneopost.com|        null|            45494|
|45496|images.theconvers...|        null|            45495|
|45497|           bev.gv.at|        null|            45496|
|45498|    nuevopudahuel.cl|        null|            45497|
|45499|    theoldfoodie.com|        null|            45498|
|45500|       shockwave.com|        null|            45499|
|45501|              guj.de|        null|            45500|
|45502|     liveaquaria.com|        null|            45501|
|45503|   executedtoday.com|        null|            45502|
|45504|      cartage.org.lb|        null|            45503|
|45505|    stcloudstate.edu|        null|            45504|
|45506|          blog.qt.io|        null|            45505|
|45507|      visualaids.org|        null|            45506|
|45508|            nowtv.it|        null|            45507|
|45509|           shnsf.com|        null|            45508|
|45510|     sf-planning.org|        null|            45509|
|45511|       lod-cloud.net|        null|            45510|
|45512|          law.uh.edu|        null|            45511|
|45513|       danielnyc.com|        null|            45512|
|45514|       wunderweib.de|        null|            45513|
|45515|       middleweb.com|        null|            45514|
|45516|            tcrf.net|        null|            45515|
|45517|        teoalida.com|        null|            45516|
|45518|  merritthawkins.com|        null|            45517|
|45519|     script.aculo.us|        null|            45518|
|45520|   realtimeboard.com|        null|            45519|
|45521|      carryology.com|        null|            45520|
|45522|stockholmresilien...|        null|            45521|
|45523| storerboatplans.com|        null|            45522|
|45524|      poweroutage.us|        null|            45523|
|45525|          lowyat.net|        null|            45524|
|45526|    treasury.govt.nz|        null|            45525|
|45527|         omniauto.it|        null|            45526|
|45528| firstenergycorp.com|        null|            45527|
|45529|freepages.genealo...|        null|            45528|
|45530|       sikkim.gov.in|        null|            45529|
|45531|neotropical.birds...|        null|            45530|
|45532|        iwebtool.com|        null|            45531|
|45533|  hamburg-travel.com|        null|            45532|
|45534|             bda.org|        null|            45533|
+-----+--------------------+------------+-----------------+
only showing top 50 rows

In [4]:
url = "jdbc:postgresql://localhost/Elementor?user=postgres&password=admin"
properties = {
    "driver": "org.postgresql.Driver",
    "user": "postgres",
    "password": "admin"
}

In [5]:
df.write.jdbc(url,table="ranks",mode="append")

In [ ]:
#Load Sales Data csv into Postgres

In [6]:
df2 = spark.read.format('com.databricks.spark.csv').\
                               options(header='true', \
                               inferschema='true').\
                load("C:\ele\Sales_Data.csv",header=True)

In [7]:
df2.write.jdbc(url,table="sales_data",mode="append")

In [ ]:
# Load XLSX file into Postgres - import with Pandas and convert to df

In [8]:
import pandas

In [9]:
pdf = pandas.read_excel('C:\ele\Promotion_dataxlsx.xlsx', sheet_name='Sheet2', inferSchema='true')
df4 = spark.createDataFrame(pdf)

In [10]:
df4.write.jdbc(url,table="promotion_data",mode="append")